body {
  background-color: #ffdd90;
  background-image: url("imgs/header.jpg");
}

/* about */

.about {
    padding: 50px 0
}

.about .img {
    width: 85%;
}

.about .img img{
    width: 100%;
    height: auto;
}

.about .row > .col-lg-6:first-of-type {
    position: relative;
}

.about .about-child {
    width: 50%
}

.about .about-child > p:first-of-type {
    font-size: 20px;
    font-weight: bold;
}

.about  a {
    width: 170px;
    border: 2px solid #ffe25b;
    margin-top: 30px;
    text-align: left;
    color: black;
    float: right;
}

.about a i {
    padding: 5px 15px;
    color: black;
    background-color: #ffe25b
}

.about a span {
    margin-left: 20px;
    position: relative;
    bottom: 7px;
}
  .about .img,
    .about .about-child {
        width: 75%;
    }
    