/ProyectoHotelAD/dist/
/ProyectoHotel/dist/
/ProyectoHotel/build/
/ProyectoHotelIU/dist/
/ProyectoHotelAD/build/
/HOTELAD/nbproject/private/
/HOTELCOMUN/nbproject/private/
/HOTELFIU/nbproject/private/